{
  "presets": [
    "es2015", "stage-0", "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "env": {
    "presets": [
      [
        "env"
      ],
      "react"
    ],
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
