@import '~assets/styles/constants/index';

.c {
  padding: 2rem 0;

  &__top {
    background: $white;
    padding: 0 2rem;
    position: sticky;
    top: 0;
    z-index: 20;
  }

  &__search {
    padding: 1em 0;
  }

  &__tabs {
    border-bottom: 1px solid $gray-2;
    margin-bottom: 1em;
    padding: 1em 0;
  }

  &__search-info {
    color: $logo-red;
    font-size: 0.7em;
    padding-bottom: 1em;
  }

  &__photos {
    margin: 0 0 0 -2rem;
    padding: 0 2rem;
  }

  &__preview {
    display: inline-block;
    margin: 0 0 2rem 2rem;
    vertical-align: top;
  }

  &__credentials {
    font-size: 0.7em;
    opacity: 0.4;
    position: absolute;
    right: 1em;
    top: 1em;
    transition: opacity $microinteraction-fast-duration ease-in-out;

    &:hover {
      opacity: 1;
    }

    a {
      align-items: center;
      color: $logo-red;
      display: flex;
      text-decoration: none;

      span {
        display: inline-block;
        padding-left: 1em;
      }
    }
  }
}
