@import '~assets/styles/constants/index.scss';

.c {
  margin: 4em 0 0 4em;
  width: 600px;

  &__logo {
    left: 4em;
    position: absolute;
    top: 2em;

    a {
      color: $logo-red;
      font-size: 0.8em;
      text-decoration: none;
    }

    img {
      height: 20px;
      position: relative;
      top: -0.1em;
      vertical-align: middle;
      width: 20px;
    }
  }

  &__desc {
    color: $gray-5;
    font-size: 1.5em;
    line-height: 1.4;
    margin-bottom: 2em;
  }

  &__line {
    margin-bottom: 2em;
  }

  &__buttons {
    display: flex;

    & > * {
      margin-right: 1em;
    }
  }
}
