$white: #fff;
$logo-red: #f0065a;
$main-red: #f0065a;
$link: #007bff;
$submit: rgb(0, 105, 217);
$link-active: #ca284b;
$link-visited: #821f92;
$gray-0: #f1f1f1;
$gray-1: #eee;
$gray-2: #ccc;
$gray-3: #999;
$gray-4: #666;
$gray-5: #333;
$black: #000;
